.App{
    align-items: center;
    background-color: blue;
    align-items: center;
    
}
.pricing-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
